@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Poppins&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #ffe0f5;
}

.titulo {
  text-align: center;
  padding: 20px 0px;
}

.conteudo {
  display: flex;
  place-content: center;
  place-items: center;
padding-bottom: 80px;
}

.item-conteudo {
  background-color: #ffff;
  width: 420px;
  min-height: 700px;
  text-align: center;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.445);
}

.descricao-item {
  font-size: 1.25rem;
  padding: 0px 20px;
}

.image-container1,
.image-container2,
.image-container3 {
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.image-container1 {
  background-image: url(./img/WRWSK.jpg);
}

.image-container2 {
  background-image: url(./img/PMR.png);
}

.image-container3 {
  background-image: url(./img/KTL.png);
}

.titulo-item {
  font-size: 1.25rem;
}

@media (max-width: 1000px) {
  .conteudo {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
  }
}
